* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.footer,
.hero {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 200px;
}

.header {
    justify-content: space-between;
    font-size: 24px;
    font-weight: bolder;    
}

ul {
    display: flex;
    list-style: none;
    gap: 1em;
    font-weight: 200;
    font-size: 18px;
}

.footer {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    height: auto;
}

.hero-img {
    background-color: #e5e7eb;
    width: 400px;
    border-radius: 6px;
    mix-blend-mode: inherit;
    border: 1px solid #404e63;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 8px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 8px;   
}

.info-head {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;

}
.info {
    display: flex;
    flex-direction: row;
}